/out/
*.DS_Store
/.gradle/6.8/fileChanges/last-build.bin
/.gradle/6.8/fileHashes/fileHashes.lock
/.gradle/6.8/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/.gitignore
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries/annotations_20_0_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
